body {
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: #ffffff;
  padding: 40px;
}

h1 {
  margin-bottom: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #1e1e1e;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
}

.card:hover {
  background: #2a2a2a;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
}

.modal-content {
  background: #1e1e1e;
  max-width: 800px;
  max-height: 85vh;
  margin: 60px auto;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.mechanic-gif {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  border-radius: 6px;
}

.code-block {
  max-height: 300px;
  overflow-y: auto;
  background: #0d0d0d;
  padding: 10px;
  border-radius: 6px;
}

body.modal-open {
  overflow: hidden;
}

.mechanic-title {
  cursor: pointer;
  color: #4da6ff;
}

.mechanic-title:hover {
  text-decoration: underline;
}

/* Tab container */
.tab {
  overflow: hidden;
  border-bottom: 1px solid #555;
  margin: 15px 0;
}

/* Tab buttons */
.tab button {
  background-color: #1e1e1e;
  color: #ddd;
  float: left;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.tab button.active {
  background-color: #4da6ff;
  color: #000;
}

/* Tab content */
.tabcontent {
  display: none; /* hide by default */
}